#blog h3, h4 {
    text-align: center;
}

#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin: 15px;
}

#blog img {
    width: 100%;
    height:90%;
    max-width: 280px;
	cursor:pointer;
}
#blog2
IMG.imgcenter{
      display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
      }
 
 #blog2 h3 {
    text-align: left;
}
 #blog2  {
	 text-align; justify-content;
}
 #blog .contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#blog .contenedor th {
  background: #333;
  color: #fff;
} 

#blog .contenedor td {
  width: 50%;
  border: 1px solid rgba(51,51,51,0.3);
  padding: 10px; 
  text-align: left;
  table-layout: fixed;
}

#blog p {
    margin: 10px;
    font-size: 15px;
    text-align: center;
}