#info {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    justify-content: center;
}

.info-iframe {
    margin: 20px;
    display: flex;
    flex-wrap: wrap; 
    position:relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.info-iframe iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
}